<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Activation</servlet-name>
        <servlet-class>Controller.Activation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategoryStaff</servlet-name>
        <servlet-class>Controller.ListCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryStaff</servlet-name>
        <servlet-class>Controller.CreateCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryStaff</servlet-name>
        <servlet-class>Controller.DeleteCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryStaff</servlet-name>
        <servlet-class>Controller.UpdateCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCategoryStaff</servlet-name>
        <servlet-class>Controller.DetailCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductStaff</servlet-name>
        <servlet-class>Controller.ListProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardStaff</servlet-name>
        <servlet-class>Controller.DashBoardStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductStaff</servlet-name>
        <servlet-class>Controller.CreateProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductStaff</servlet-name>
        <servlet-class>Controller.DetailProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductStaff</servlet-name>
        <servlet-class>Controller.UpdateProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductStaff</servlet-name>
        <servlet-class>Controller.DeleteProductStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activation</servlet-name>
        <url-pattern>/Activation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategoryStaff</servlet-name>
        <url-pattern>/staff/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryStaff</servlet-name>
        <url-pattern>/staff/category/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryStaff</servlet-name>
        <url-pattern>/staff/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryStaff</servlet-name>
        <url-pattern>/staff/category/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCategoryStaff</servlet-name>
        <url-pattern>/staff/category/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductStaff</servlet-name>
        <url-pattern>/staff/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardStaff</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductStaff</servlet-name>
        <url-pattern>/staff/product/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductStaff</servlet-name>
        <url-pattern>/staff/product/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductStaff</servlet-name>
        <url-pattern>/staff/product/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductStaff</servlet-name>
        <url-pattern>/staff/product/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
