<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file>home.jsp</welcome-file>
    <servlet>
        <servlet-name>Activation</servlet-name>
        <servlet-class>Controller.Activation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategoryStaff</servlet-name>
        <servlet-class>Controller.ListCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryStaff</servlet-name>
        <servlet-class>Controller.CreateCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryStaff</servlet-name>
        <servlet-class>Controller.DeleteCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryStaff</servlet-name>
        <servlet-class>Controller.UpdateCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCategoryStaff</servlet-name>
        <servlet-class>Controller.DetailCategoryStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductStaff</servlet-name>
        <servlet-class>Controller.ListProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardStaff</servlet-name>
        <servlet-class>Controller.DashBoardStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductStaff</servlet-name>
        <servlet-class>Controller.CreateProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductStaff</servlet-name>
        <servlet-class>Controller.DetailProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductStaff</servlet-name>
        <servlet-class>Controller.UpdateProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductStaff</servlet-name>
        <servlet-class>Controller.DeleteProductStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>Controller.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>Controller.Admin.dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staff</servlet-name>
        <servlet-class>Controller.Admin.staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendance</servlet-name>
        <servlet-class>Controller.Admin.attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassWord</servlet-name>
        <servlet-class>Controller.ResetPassWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmResetPass</servlet-name>
        <servlet-class>Controller.ConfirmResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItem</servlet-name>
        <servlet-class>Controller.DeleteCartItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartItemQuantity</servlet-name>
        <servlet-class>Controller.UpdateCartItemQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>Controller.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaff</servlet-name>
        <servlet-class>Controller.Admin.ListStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffStatus</servlet-name>
        <servlet-class>Controller.Admin.EditStaffStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>Controller.Admin.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailStaff</servlet-name>
        <servlet-class>Controller.Admin.DetailStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCancel</servlet-name>
        <servlet-class>Controller.staff.ListCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelDetail</servlet-name>
        <servlet-class>Controller.staff.CancelDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogCategory</servlet-name>
        <servlet-class>Controller.Blog.AddBlogCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogCategory</servlet-name>
        <servlet-class>Controller.Blog.EditBlogCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogCategory</servlet-name>
        <servlet-class>Controller.Blog.DeleteBlogCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlogStaff</servlet-name>
        <servlet-class>Controller.Blog.ListBlogStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activation</servlet-name>
        <url-pattern>/Activation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategoryStaff</servlet-name>
        <url-pattern>/staff/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryStaff</servlet-name>
        <url-pattern>/staff/category/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryStaff</servlet-name>
        <url-pattern>/staff/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryStaff</servlet-name>
        <url-pattern>/staff/category/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCategoryStaff</servlet-name>
        <url-pattern>/staff/category/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductStaff</servlet-name>
        <url-pattern>/staff/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardStaff</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductStaff</servlet-name>
        <url-pattern>/staff/product/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductStaff</servlet-name>
        <url-pattern>/staff/product/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductStaff</servlet-name>
        <url-pattern>/staff/product/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductStaff</servlet-name>
        <url-pattern>/staff/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staff</servlet-name>
        <url-pattern>/admin/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendance</servlet-name>
        <url-pattern>/admin/attend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassWord</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmResetPass</servlet-name>
        <url-pattern>/ConfirmResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItem</servlet-name>
        <url-pattern>/DeleteCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartItemQuantity</servlet-name>
        <url-pattern>/UpdateCartItemQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaff</servlet-name>
        <url-pattern>/ListStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffStatus</servlet-name>
        <url-pattern>/EditStaffStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailStaff</servlet-name>
        <url-pattern>/DetailStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCancel</servlet-name>
        <url-pattern>/staff/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelDetail</servlet-name>
        <url-pattern>/staff/cancel/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogCategory</servlet-name>
        <url-pattern>/staff/blog/add-cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogCategory</servlet-name>
        <url-pattern>/staff/blog/edit-cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogCategory</servlet-name>
        <url-pattern>/staff/blog/delete-cat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlogStaff</servlet-name>
        <url-pattern>/staff/blog/list-blog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
